* {
  margin: 0;
}

.content {
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
}

.btn {
  margin-left: 60px;
  display: inline;
  border: none;
  font-weight: bold;
  color: grey;
}

.btn:hover {
  color: teal;
}

/*body truncation*/
.body-trankate{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-style: italic;
  color: cornflowerblue ;
  max-width: 75ch;
  text-decoration: none;
}

.blog-list-link{
  text-decoration: none;
  color: #333;
}

.nav-home-link {
  color: white;
  text-decoration: none;
}

.nav-home-link:hover{
  color:teal;
}

.right-arrow {
  text-decoration: none;
  display: flex;
  color: grey;
  font-weight: bold;
}
.right-arrow:hover{
  color: teal;
}

.left-arrow {
  text-decoration: none;
  color: grey;
  font-weight: bold;
}

.left-arrow:hover{
  color: teal;
}

/* aside styles */
.card-text{
  text-align: justify;
}

.bar{
  margin-left: 15px;
}

.detail-body{
  text-align: justify;
  white-space: break-spaces;
}

.detail-body::first-line{
  font-style: italic;
  color:cornflowerblue
}

.list-unstyled {
  display: flex;
  justify-content: space-around;
}

.btn {
  margin-left: 0;
  margin-top: -3px;
}

.card-group{
  max-width: 600px;
  margin: auto;
}

.img-thumbnail{
  margin: 10px;
}

.title{
  text-align: center;
}

h1{
  margin-bottom: 20px;
}

#aside-title{
  text-align: center;
}

#main-hr{
  height: 4px;
  background-color: #000;
  border: none;
}

#feature-book{
  text-align: center;
}




